/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-text-color: #db00ff;
  --title-text-color-decor: #000028;
  --button-text-color: var(--accent-color, #ff0070);
  --section-title-text-color: var(--accent-color, #ff0070);
  --button-hover: rgba(255, 0, 112, 0.4);
  --footer-text-shadow: var(--accent-color, #ff0070);
}

/* без дублиррования кода из media не получается сделать*/

.theme-dark .page {
  .header__content-hidden::before {
    content: "REC";
    color: var(--accent-color);
    font-weight: 400;
  }

  .header__content-hidden::after {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px var(--accent-color);
    background-color: var(--accent-color);
  }
}

@media (prefers-color-scheme: dark) {
  .header__content-hidden::before {
    content: "REC";
    color: var(--accent-color);
    font-weight: 400;
  }

  .header__content-hidden::after {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px var(--accent-color);
    background-color: var(--accent-color);
  }
}
