/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-text-color: #db00ff;
  --title-text-color-decor: #000028;
}

.theme-dark .header__content-hidden::before {
  content: 'REC';
  color: var(--accent-color);
  font-weight: 400;
}

.theme-dark .header__content-hidden::after {
  
  background-color: var(--accent-color);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  filter: blur(1px);

}


