/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  gap: 40px;
  color: var(--text-color);
  font-family: var(--main-font, sans-serif);
  font-size: var(--main-font-size);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  block-size: 100vh;
}

.header__content-hidden::before {
  position: absolute;
  top: 10px;
  right: 38px;
}

.header__content-hidden::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 20px;
}

.header {
  position: relative;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.header__theme-menu {
  margin-block-start: clamp(3.875rem, -2.5658rem + 27.4809vw, 10.625rem);
}

.header__theme-menu-list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: end;
  gap: 9px;
}

.header__theme-menu-button {
  border: none;
  padding-inline: 13px;
  padding-block: 1.5px;
  color: var(--button-text-color);
  font-weight: 400;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__title {
  margin-block-start: clamp(4.125rem, -2.1966rem + 26.972vw, 10.75rem);
  color: var(--title-text-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  margin-block-start: clamp(3.3125rem, -3.1283rem + 27.4809vw, 10.0625rem);
  margin-block-end: clamp(3.5rem, -2.8812rem + 27.2265vw, 10.1875rem);
}

.decorated-zone::before {
  content: " ";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--button-text-color);
  border-block-start: 1px solid var(--button-text-color);
}

.decorated-zone::after {
  content: " ";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--button-text-color);
  border-block-end: 1px solid var(--button-text-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-inline: 10px;
}

/*Секция Почему*/

.section-why {
  display: grid;
  gap: 20px;
}

.section-why__title {
  color: var(--section-title-text-color);
  font-weight: 700;
  font-size: var(--main-font-size);
}

.section-why__list {
  display: inherit;
  gap: 20px;
}

.section-why__list-item {
  display: inherit;
  gap: 10px;
}

.section-why__subtitle {
  font-weight: 700;
}

.section-why__text {
  font-weight: 400;
  line-height: var(--main-line-height);
}

/*Секция Что*/

.section-what {
  display: grid;
  gap: 20px;
}

.section-what__title {
  color: var(--section-title-text-color);
  font-weight: 700;
  font-size: var(--main-font-size);
}

.section-what__list {
  display: inherit;
  gap: 20px;
}

.section-what__list-item {
  display: inherit;
  gap: 10px;
}

.section-what__subtitle {
  font-weight: 700;
}

.section-what__text {
  font-weight: 400;
  line-height: var(--main-line-height);
}

/*Секция Как*/

.section-how {
  display: grid;
  gap: 20px;
}

.section-how__title {
  color: var(--section-title-text-color);
  font-weight: 700;
  font-size: var(--main-font-size);
}

.section-how__list {
  display: inherit;
  gap: 20px;
}

.section-how__list-item {
  display: inherit;
  gap: 10px;
}

.section-how__subtitle {
  margin-block-end: 10px;
  font-weight: 700;
}

.section-how__text {
  font-weight: 400;
  line-height: var(--main-line-height);
}

.section-how__subtitle-small {
  font-weight: 400;
}

.title-decor {
  color: var(--title-text-color-decor);
  font-size: inherit;
  line-height: var(--main-line-height);
  background-color: var(--accent-color);
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

/*Секция галерея*/

.section-gallery {
  display: grid;
  gap: 10px;
}

.section-gallery__list {
  display: inherit;
  gap: 10px;
}

.section-gallery__list-item {
  display: inherit;
}

.section-gallery__image {
  inline-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  color: var(--title-text-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--footer-text-shadow);
}

.text-link:hover {
  border-bottom: 1px solid currentColor;
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  border: 1px solid currentColor;
}

@media (min-width: 768px) {
  .page {
    gap: 60px;
  }
  .header {
    padding: 20px;
  }

  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    text-align: start;
  }

  .header__subtitle {
    margin-inline-start: 50%;
    inline-size: 50%;
  }

  .main {
    gap: 80px;
    padding-inline: 20px;
  }

  .section-why {
    grid-template-columns: 236px 1fr;
    gap: 20px;
  }

  .section-what {
    gap: 20px;
  }

  .section-what__title {
    display: inherit;
    grid-template-columns: min-content;
  }

  .section-what__list {
    display: inherit;
    grid-template-columns: 1fr;
  }

  .section-how {
    grid-template-columns: 236px 1fr;
  }

  .section-gallery {
    gap: 20px;
  }

  .section-gallery__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .section-gallery__image {
    object-fit: cover;
    block-size: 100%;
  }

  .image-sunset {
    grid-column: 1/3;
  }

  .image-ice-cream {
    grid-column: 3;
    grid-row: 1/3;
  }

  .image-tape {
    grid-column: 1;
    grid-row: 2/4;
  }

  .image-street {
    grid-column: 2/4;
    grid-row: 3;
  }

  .footer {
    min-block-size: 1024px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__content-hidden::before {
    top: 20px;
    right: 48px;
  }

  .header__content-hidden::after {
    top: 29px;
    right: 30px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: none;
    justify-content: center;
    align-items: start;
    margin-block-start: -2px;
  }

  .header__title {
    margin-block-start: 273px;
  }

  .header__subtitle {
    margin-block: 114px;
  }

  .section-why {
    grid-template-columns: 32% 1fr;
  }

  .section-what__title {
    grid-template-columns: 32%;
  }

  .section-what__list {
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
  }

  .section-how {
    grid-template-columns: 32% 1fr;
  }

  .footer {
    min-height: 768px;
  }
}
