/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: "IBM Plex mono";
  --main-font-size: 18px;
  --main-line-height: 130%;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-text-color: #db00ff;
  --title-text-color-decor: #000028;
  --button-text-color: var(--accent-color, #ff0070);
  --section-title-text-color: var(--accent-color, #ff0070);
  --footer-text-shadow: var(--accent-color, #ff0070);
  --button-hover: rgba(255, 0, 112, 0.4);
}
